.container {
  height: 100vh;
  background-color: #082345;
  display: grid;
  place-items: center;
}

.picture {
  font-size: 10px;
  line-height: 10px;
  background: url("../img/goneWithTheWind.png") fixed center no-repeat;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=styles.css.map */
